.loginSection {
  background-image: url(../Images/loginBgImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 239px 207px 379px 100px;
}

.theWorldText {
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  line-height: 100%;
  color: #fff;
}

.FastestText {
  color: var(--color-white, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  margin-top: 16px;
}

.teamWorkTex {
  color: var(--color-dark, #27272e);
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  line-height: 100%; /* 48px */
}

.powerfulTex {
  color: var(--text-grey, #999fae);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  padding: 16px 0 64px 0;
}

.gmailBtn {
  display: flex;
  width: 386px;
  height: 71px;
  padding: 19px 97px 19.352px 98px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #e3e6e9;
  background: var(--color-white, #fff);
  cursor: pointer;
}

.signUpBtn {
  display: inline-flex;
  width: 386px;
  height: 71px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--color-primary, #5956e9);
  border: none;
  font-family: Poppins;
  font-size: 16px;
  white-space: nowrap;
  margin-top: 16px;
  cursor: pointer;
}

.signUpBtn a {
  color: #fff;
  padding: 23px 109px 24px 109px;
}

.gmailBtn img {
  margin-right: 16px;
}

.gmailBtnText {
  color: #2522ba;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  white-space: nowrap;
}

.forgetPassword {
  color: var(--color-primary, #5956e9);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.35px;
  margin-top: 24px;
}

@media only screen and (max-width: 375px) {
  .loginSection {
    background-image: url(../Images/Login\ -\ Step\ 1\ -\ Mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 262px 10px 87px 10px;
  }
}
