.header {
  position: relative;
  padding: 40px 100px 1px 100px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px 36px; */
  margin-top: -1100px;
}

.headerTopTex {
  display: flex;
  align-items: center;
  gap: 33px;
}

.signUpBtn {
  padding: 24px 40px;
  border-radius: 20px;
  background: var(--color-accent-02, #fab8c4);
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--text-blue, #2522ba);
  text-align: center;
}

.headerTopSpan {
  color: var(--text-dark, #292930);
  font-family: Poppins;
  font-size: 16px;
}

.headerText {
  display: flex;
  align-items: center;
  gap: 55px;
}

.headerTexts {
  color: var(--text-grey, #999fae);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  cursor: pointer;
}

.headerTexts:hover {
  color: #292930;
}

.selectIcon:hover {
  cursor: pointer;
}

.headerBorderPick {
  display: flex;
  justify-content: space-between;
  top: 0;
}

.headerMain {
  display: flex;
  gap: 52px;
}

.headerMainRightCircleBlue {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #5956e9;
  margin-top: -60px;
  margin-left: 50px;
}

.createLikeTex {
  color: #292930;
  font-family: DM Sans;
  font-size: 96px;
  font-style: normal;
  font-weight: bolder;
  line-height: 99.327%;
  letter-spacing: -2.4px;
  margin-bottom: 24px;
  text-align: left;
  height: 380px;
  width: 323px;
}

.headerMainLeft {
  margin-top: 100px;
}

.createBuildTex {
  color: var(--text-grey, #999fae);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  text-align: left;
}

.headerMainBottom {
  display: flex;
  gap: 32px;
  align-items: center;
}

.headerMainBottomIcon {
  display: flex;
  gap: 16px;
  align-items: center;
}

.getStartedBtn {
  padding: 29px 46px;
  border-radius: 29px;
  border: none;
  background-color: #5956e9;
  color: #fff;
  white-space: nowrap;
}

.headerMainRightCircle {
  width: 150px;
  height: 150px;
  background-color: yellow;
  border-radius: 50%;
  margin-top: 70px;
}

.headerMainRighFoto {
  margin-top: -170px;
}

/* @media only screen and (max-width: 1000px) {
  .img1 {
    width: 100%;
    display: none;
  }
  .mobile {
    width: 100%;
    display: block;
  }
} */

/* -----------------powerfulSection------------------- */

.powerfulSectionCircles {
  display: flex;
  margin-top: -100px;
  gap: 13px;
}

#powerfulSection {
  background-color: #27272e;
  padding-left: 100px;
  height: 1024px;
}

.powerfulSectionCircles1 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #525260;
  margin-top: 500px;
}

.powerfulSectionCircles2 {
  width: 520px;
  height: 520px;
  border: 1px solid var(--stroke-dark, #42424a);
  border-radius: 50%;
  margin-right: 60px;
}

.powerfulSectionCircles3 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fab8c4;
  margin-top: -90px;
}

.powerfulSectionCircles4 {
  width: 268px;
  height: 268px;
  border-radius: 50%;
  background: var(--Grey-Shades, #525260);
  margin-top: 114px;
}

.powerfulTetx {
  color: var(--color-white, #fff);
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: bolder;
  line-height: 100%;
  width: 702px;
  text-align: left;
  letter-spacing: -2px;
  margin-bottom: 48px;
}

.SimultaneouslyText {
  color: var(--color-white, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 502px;
  text-align: left;
}

.powerfulTetxSect {
  margin-top: -400px;
  margin-left: 400px;
}

/* ------------------powerfulSection Finished-------- */

/* -----------------signUpEmailSection----------- */

.signUpEmailSection {
  background-image: url(../Images/SIGN\ UP.png);
  background-size: cover;
}

.signUpEmailSectionText {
  padding-top: 877px;
  color: var(--text-dark, #292930);
  text-align: center;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.6px;
  align-items: center;
  font-weight: bolder;
}

.signUpEmailSections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.signUpEmailSectionInp {
  border: none;
  padding: 42px 324px 42px 72px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  color: #999fae;
  font-family: Poppins;
  font-size: 16px;
}

.signUpEmailSectionBtn {
  border: none;
  padding: 25px 46px;
  border-radius: 20px;
  background: #5956e9;
  margin-left: -170px;
  cursor: pointer;
}

/* -----------------signUpEmailSection Finished----------- */

/* --------------------Native Like Began--------------------- */
.NativeLikeSection {
  padding: 112px 100px;
}

.NativeLikeSectionHeader {
  display: flex;
  gap: 14px;
  padding-left: 90px;
}

.AutoText {
  color: var(--color-primary, #5956e9);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.327%; /* 19.865px */
  text-align: left;
  margin-bottom: 24px;
}

.ResponsiveText {
  width: 500px;
  color: #292930;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  line-height: 80px;
  text-align: left;
  margin-bottom: 47px;
}

.EasilyText {
  width: 408px;
  color: var(--text-grey, #999fae);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 40px;
}

.iconsSection {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.NativeLikeSectionMiddle {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 640px;
  border-radius: 40px;
  border: 1px solid #fff;
  background: var(
    --gradient-grey-bg,
    linear-gradient(90deg, #ecf2f6 0%, rgba(236, 242, 246, 0) 70.31%)
  );
  padding: 65px 100px 33px 100px;
}

.NativeLikeSectionMiddleLeft {
  text-align: left;
}

.NativeLikeLeftText {
  width: 432px;
  color: var(--text-dark, #292930);
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.collabSmartText {
  width: 389px;
  color: var(--text-dark, #292930);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  text-align: left;
  margin-bottom: 40px;
  margin-bottom: 40px;
}

.seeSampleBtn {
  border-radius: 20px;
  background: var(--color-primary, #5956e9);
  padding: 30px 25px;
  cursor: pointer;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  color: #fff;
}

.yellowCircle {
  width: 130px;
  height: 130px;
  background-color: #ffdc60;
  border-radius: 50%;
  position: absolute;
  left: -300px;
  top: 500px;
}

.smalCircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fab8c4;
  position: absolute;
  left: -80px;
  top: 35px;
}

.bigCircle {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background-color: #fab8c4;
  position: absolute;
  top: 35px;
  z-index: -1;
}

.blueCircle {
  background-color: #5956e9;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -110px;
  left: 500px;
}

.NativeLikeSectionMiddleRight {
  display: flex;
  position: relative;
}

.rightHandFoto {
  margin-left: 100px;
}

.NativeLikeSectionMiddle {
  margin-top: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.joinTex {
  color: #292930;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.327%; /* 19.865px */
  letter-spacing: -0.5px;
  margin: 100px 0 16px 0;
}

.findText {
  color: #292930;
  text-align: center;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  line-height: 80px;
  letter-spacing: -2px;
}

.FlexibleText {
  color: var(--text-grey, #999fae);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  margin: 31px 0 34px 0;
}

.toggleSection {
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: center;
  align-items: center;
}

.butProVersion {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 77px;
}

.butProVersionBox {
  width: 320px;
  height: 520px;
  border-radius: 32px;
  padding: 40px;
}

.butProVersionBox1 {
  background: var(--color-primary, #5956e9);
}

.butProVersionBox2 {
  background-color: #fff;
  border: 1px solid var(--stroke-super-light, #e3e6e9);
}

.IndividualText {
  display: flex;
  gap: 14px;
  margin-bottom: 6px;
}

.ProfessionalText {
  color: var(--color-white, #fff);
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: bolder;
  line-height: 100%; /* 40px */
  letter-spacing: -1.8px;
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 2.5px;
}

.priceText {
  color: var(--color-white, #fff);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 22px */
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 45px;
}

.givenPrise {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  align-items: center;
}

.givenPriseText {
  color: var(--color-white, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  text-align: left;
}

.clickBtn {
  padding: 30px 22px;
  border-radius: 20px;
  background: var(--color-white, #fff);
  border: none;
  cursor: pointer;
  color: var(--text-blue, #2522ba);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
}

.priceText1 {
  color: var(--color-primary, #5956e9);
}

.ProfessionalText1 {
  color: #292930;
}

.givenPriseText1 {
  color: #999fae;
}
.clickBtn1 {
  background-color: #fab8c4;
  color: #27272e;
}

.clickBtn2 {
  background-color: #5956e9;
  color: #fff;
}

/* --------------------speedUpSection------------------- */

.speedUpSection {
  display: flex;
}

.superText {
  color: #a4b16e;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.327%; /* 19.865px */
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 24px;
}

.SpeedUpText {
  color: #292930;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  line-height: 100%; /* 80px */
  letter-spacing: -2px;
  width: 406.957px;
  text-align: left;
  margin-bottom: 56px;
  letter-spacing: 2px;
}

.speedYellowCircle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: yellow;
  margin-top: -250px;
  margin-bottom: 70px;
  margin-left: 30px;
}

.EssentiallyText {
  color: var(--color-dark, #27272e);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 334px;
  text-align: left;
  letter-spacing: -0.4px;
  margin-bottom: 55px;
}

.eightText {
  color: var(--color-dark, #27272e);
  font-family: Poppins;
  font-size: 288px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 288px */
  letter-spacing: -14.4px;
  text-align: left;
}

.speedUpSectionLeft {
  margin-right: -500px;
  margin-left: 200px;
}

.feature {
  background-image: url(../Images/FEATURE\ BOX.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 782px;
}
.feature__in {
  display: block;
  padding-top: 150px;
  max-width: 1040px;
  margin: 0 auto;
}
.card {
  width: 410px;
  height: 580px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
}
.little__feature {
  display: none;
  background-image: url(../Images/FEATURE\ BOX.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 782px;
}

@media only screen and (max-width: 1024px) {
  .feature {
    display: none;
  }
  .little__feature {
    display: block;
  }
}

/* --------------------------- */

.feature__box {
  background-image: url(../Images/FEATURE\ BOX.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 782px;
}
.feature__box__in {
  padding-top: 160px;
  max-width: 1040px;
  margin: 0 auto;
}
.white__box {
  padding: 50px 48px;
  max-width: 410px;
  height: 580px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
}
.white__top {
  display: flex;
  align-items: center;
  gap: 14px;
}
.awesome {
  color: var(--text-dark, #292930);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 99.327%; /* 13.906px */
  letter-spacing: -0.35px;
}
.ultimate {
  margin-top: 20px;
  color: var(--text-dark, #292930);
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 40px */
  letter-spacing: -1.8px;
}
.it {
  margin-top: 36px;
  width: 249px;
  color: var(--text-grey, #999fae);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
}
.website {
  margin-top: 49px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.awesome__website {
  color: var(--text-dark, #292930);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.45px;
}
.website__bottom {
  margin-top: 20px;
  display: flex;
  gap: 17px;
}
.website__btn {
  margin-left: 21px;
}
.website__arrow {
  margin-top: 20px;
  height: 40px;
}

button {
  padding: 24px 45px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: var(--color-primary, #5956e9);
  color: #fff;
}

/* ------------------------------------------------------ */

/* ---------------------------swiperSection-------------------- */

.swiper-slide {
  background-image: url(../Images/FeatureCard.png);
  background-repeat: no-repeat;
  height: 613px;
  /* margin-left: 50px; */
}

.swiper-wrapper {
  padding-left: 80px;
}
.swiperBox {
  padding: 341px 0 40px 40px;
  /* border: 1px solid; */
}

.DesignTex {
  color: var(--text-dark, #292930);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 99.327%; /* 13.906px */
  letter-spacing: -0.35px;
  text-align: left;
  margin-bottom: 23px;
}

.AutomationText {
  color: var(--text-dark, #292930);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  line-height: 110%; /* 35.2px */
  text-align: left;
  margin-bottom: 23px;
}

.UseTex {
  width: 229px;
  color: var(--text-grey, #999fae);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  text-align: left;
  margin-bottom: 25px;
}

.startedBtn {
  color: #27272e;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 110%; /* 19.8px */
  cursor: pointer;
}
/* --------------------------------------------------------------- */
/* -------------------footer------------------------- */

.footer {
  background-image: url(../Images/FooterPhoto.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1124px;
  margin-bottom: 150px;
}

/* z-index: 2; */
.swiper-slide1 {
  background-image: url(../Images/FeaturePhoto2.png);
}

.swiper-slide2 {
  background-image: url(../Images/FeaturePhoto3.png);
}

.footerBox {
  max-width: 1040px;
  margin: 0 auto;
}

.footerTextM {
  max-width: 1040px;
  margin: 0 auto;
}

.footerReadyToText {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
  letter-spacing: -2px;
  width: 810px;
  margin: 0 auto;
  padding-top: 150px;
}

.footerOfferText {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 680px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
}

.footerBtn {
  background-color: #fff;
  color: #2a288b;
  margin-left: 400px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 12.8px */
  letter-spacing: -0.64px;
}

.footerButtomtext {
  display: flex;
  justify-content: space-between;
  /* margin-top: 700px; */
}

.titleText {
  color: var(--text-grey, #999fae);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
}

.footerTexts1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ulLiText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.liTexti {
  color: #292930;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: -0.4px;
}

.footerYear {
  color: var(--text-grey, #999fae);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 99.327%; /* 13.906px */
  letter-spacing: -0.35px;
}

.footerYearSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px 0 60px 0;
}

.beforeNextBtnSec {
  position: relative;
}

.beforeNextBtn {
  position: absolute;
  left: 1150px;
  top: -50px;
}

.beforeNextBtn1 {
  position: absolute;
  left: 100px;
  top: -50px;
  left: 1000px;
}

.swiperSection {
  margin-top: -50px;
}

.designTechnologySection {
  display: flex;
  justify-content: space-between;
}

.Designtext {
  color: var(--head-title-red, #c75c6f);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.327%; /* 19.865px */
  letter-spacing: -0.5px;
  text-align: left;
  margin: 164px 0 24px 0;
}

.EnrichText {
  color: #292930;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  text-align: left;
  line-height: 100%; /* 80px */
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.designTechnologySection {
  background-image: url(../Images/WORKFLOW\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1240px;
  margin: 0 auto;
  margin-left: 200px;
}

.anythingText {
  width: 378px;
  color: #999fae;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

/* ---------------------------------- */

/* ----------------Fire Section-------- */

.fireSectionMain {
  width: 500px;
  height: 680px;
  border-radius: 40px;
  border: 1px solid #e3e6e9;
  background: #fff;
  padding: 80px;
}

.ScheduleText{
  color: var(--text-dark, #292930);
font-family: DM Sans;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 64px */
text-align: left;
margin-bottom: 45px;
}

.StillText{
  color: var(--text-grey, #999FAE);
font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
letter-spacing: -1.08px;
text-align: left;
margin-bottom: 109px;

}

.fireBtn{
  width: 339px;
}

.fireSectionMains{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.ScheduleText1{
  color: #fff;
}

.StillText1{
  color: #fff;
}

.topCircle{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #FAB8C4;
  margin-right: -250px;
  margin-left: 250px;
}

.firePot{
  margin: 100px 0 32px 700px;
}

.topCircleTex{
  display: flex;
  align-items: baseline;
  margin-bottom: 72px;
}

.offerText{
  width: 449px;
color: var(--text-dark, #292930);
text-align: center;
font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
letter-spacing: -1.08px;
margin: 0 auto;
}

/* ----------------------------- */

/* -------------------reSearchSection--------- */

.reSearchSection{
  background-image: url(../Images/RESEARCHBack);
  max-width: 1240px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.researchDiv{
  display: flex;
  justify-content: space-around;
}

.ResearchTexts{
  width: 861px;
color: var(--text-dark, #292930);
font-family: DM Sans;
font-size: 80px;
font-style: normal;
font-weight: bold;
line-height: 100%; /* 80px */
letter-spacing: -1px;
text-align: left;
margin:112px 0 39px 0;

}

.CollabFastText{
  width: 598px;
color: var(--color-dark, #27272E);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 60px;

}

.sixteenTex{
  color: var(--text-dark, #292930);
  font-family: Poppins;
  font-size: 288px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 288px */
}

.easyText{
  width: 229px;
color: var(--text-dark, #292930);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.4px;
margin: 0 auto;
margin-top: -40px;
text-align: left;
}

.PlayBoxMain{
  display: flex;
  align-items: center;
  gap: 30px;

}

.PlayBox1{
  width: 96px;
  height: 96px;
  background-color: #5956E9;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 33px;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 20px;
  padding-left: 30px;
}

.findOutTex{
  color: var(--color-dark, #27272E);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.64px;
}

/* ------------------------------- */

/* --------------------smartestSection------------------ */

.smartestSection{
  width: 1240px;
  height: 580px;
  background-color: #5956E9;
  border-radius: 40px;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 100px;
  position: relative;
  z-index: -1;
}

.smartestTex{
  color: var(--color-white, #FFF);
  font-family: DM Sans;
  font-size: 80px;
  width: 810px;
  text-align: left;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 50px;
}

.flexiblePricwe{
  color: var(--color-white, #FFF);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
margin-bottom: 50px;
}

.gewgewgew{
  background: #fff;
  color: #5956e9; 
  text-align: left;
}
.smartestHend{
  position: absolute;
  right: -95px;
  top: -370px;
}

/* ------------------------------------ */

/* --------------timeLineSection------------- */

.timeLineSection{
  background-image: url(../Images/TIMELINE.png);
  height: 1186px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 200px;
  padding-top: 150px;
  margin-top: -100px;
  z-index: -2;
  margin-bottom: 150px;
}

.systemsText{
  color: #292930;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
  margin-bottom: 48px;
}

.achievingText{
  color: var(--text-grey, #999FAE);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.4px;
}

.RoadmapText{
  color: var(--color-accent-02, #FAB8C4);
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 99.327%; /* 19.865px */
letter-spacing: -0.5px;
margin-bottom: 24px;
}

/* --------------------------------- */

/* --------------Technological--------- */
.TechnologicalSection{
  padding-top: 80px;
  padding-left: 202px;
}
.TechnologicalText{
  color: var(--text-dark, #292930);
  font-family: DM Sans;
  font-size: 48px;
  line-height: 100%; /* 48px */
  margin-bottom: 40px;
}

.fastText{
  color: var(--text-grey, #999FAE);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.4px;
margin-bottom: 56px;
}

.CollabClouds{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.CollabClouds1{
  display: flex;
  align-items: center;
  gap: 24px;

}

.accordion1{
  display: flex;
}